body, html {
  height: 100%;
  background: #eee;
  font-display: swap;
  font-family: "Nunito", sans-serif;
  color: #222222;
  width:100%;
  display:inline-flex;
  margin:0px;
}

.my-header {
  height: 100%;
  background: #f0f0f0;
}

.my-content {
  margin:8px;
}

.page-content {
  margin:auto;
  width:60%;
  padding-top:50px;
}

.page-header{
  font-family:"Satisfy",sans-serif;
  font-style:italic;
  text-align:center;
  font-size:xx-large;
}

.MuiLink-root{
  color:black;
  display:inline-flex;
}

.linkbar {
  padding:20px;
  padding-bottom: 40px;
  color:black;
}

#root {
  width:100%;
  background:white;
}

header {
    font-family: "Playfair Display", sans-serif;
    font-size: xx-large;
    padding-top: 50px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size:larger;
  font-variant-caps:all-small-caps;
}

.h2-compressed {
  padding-top:0px;
  margin-top:10px;
}

.icon {
  padding-left:5px;
  padding-right:5px;
}

.centerText {
  text-align:center
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
